<?xml version="1.0"?> 
<robot name="goal">
    <!-- Colors --> 
    <material name="green">
        <color rgba="0 0.925 0 0.5"/>
    </material>

    <!-- Goal -->
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder radius="1" length="5"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
            <material name="green"/>
        </visual>

        <inertial> 
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial> 
    </link>
</robot>